body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.wrapper {
    width: 100%;
}

.container {
    width: 80%;
    min-height: 100vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(246, 246, 237, 1);
    cursor: pointer;
    overflow: hidden;
}

.container:hover .item-title {
    color: black;
}

.container:hover .close-btn {
    opacity: 1;
    color: black;
}

.main-title {
    width: 80%;
    margin: 3% auto;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Fira Sans';
}

.item {
    margin: 1% 0;
}

.items-wrapper {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.item-title {
    font-size: 23px;
    font-weight: 900;
    color: rgba(30, 92, 209, 1);
    font-family: 'Fira Sans';
    border-top: 1px rgba(211, 217, 225, 1) solid;
    padding: 2% 0 0 0;
}

.item:hover .item-img {
    display: block;
    height: 200px;
    transform: scale(1);
    margin: 5% auto;
}


.item:hover .close-btn {
    transform: rotate(45deg);
}


.close-btn {
    position: absolute;
    right: 10px;
    opacity: 0;
    width: 15px;
    height: 15px;
    transition: 0.2s;
}


.item-img {
    height: 0;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.item-input:checked ~ .item-img {
    display: block;
    height: 200px;
    transform: scale(1);
    margin: 5% auto;
}

.item-input {
    appearance: none;
}

.item-input:checked ~ .item-title {
    color: black;
    transition-duration: 0.5s;
}

.container:hover .item-input:checked ~ .item-title .close-btn {

    transform: rotate(45deg);
}

label{
    cursor: pointer;
}



